<!doctype html>
<html lang="en">
    <head>
        <title>Login</title>
        <link rel='stylesheet' type = 'text/css' href="/public/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>

        <div class="jumbotron">
            <h1 id="jumbotron_text"></h1>
        </div>
        
<div class = "loginfeed"> 
        <h1><%=notification%></h1>

        <div class="col-md-6">
                <form id="login" action="/users/login" method="POST">
                    <h2>Existing users login here:</h2>
                    <label for="login-email">Email:</label>
                    <br /> 
                    <input class="form-control" name="email" />
                    <br /> <br />
                    <label for="login-password">Password:</label>
                    <br /> 
                    <input class="form-control" type="password" name="password" />
                    <br /> <br />
                    <input type="submit" class="btn btn-info" />
                    <br /><br /><br />
                        <h4>Connect with friends and the world.<br />
                        <li>Create a profile.</li>
                        <li>Add other users as friends.</li>
                        <li>Post status updates and replies.</li>
                        <li>Exchange SMS messages.</li></h4>
                    <br /><br /><br /></br>
                </form>
        </div>

        <div class="col-md-6">
                <form id="register" action="/users/register" method="POST">
                    <h2>New users register here:</h2>
                    <label for="register-email">Please register with a valid email:</label>
                    <br />
                    <input class="form-control" name="email" />
                    <br /> <br />
                    <label for="register-mobile">Enter your mobile phone number:</label>
                    <br />
                    <input class="form-control" name="mobile" />
                    <br /> <br />
                    <label for="register-username">Enter your full name:</label>
                    <br />
                    <input class="form-control" name="username" />
                    <br /> <br />
                    <label for="register-password">Choose Password:</label>
                    <br />
                    <input class="form-control" type="password" name="password" >
                    <br /> <br />
                    <label for="register-password2">Confirm Password:</label>
                    <br />
                    <input class="form-control" type="password" name="password2" />
                    <br /> <br />
                    <input type="submit" class="btn btn-info"/>
                </form>
        </div>
</div>
    </body> 
</html> 